@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
  background: rgb(255, 255, 255);
  color: #000;
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
}

.baza {
  margin: 260px auto;
  width: 300px;
}

.baza p {
  text-align: center;
  font-size: 16px;
  text-transform: none;
}

.brand {
  margin-bottom: 18px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.brand img {
  width: 85px;
  height: 76px;
  margin-left: 100px;
}

h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  -webkit-text-stroke: 0.5px;
  margin: 18% 0 30px 0;
}
